<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <%- include('header.ejs'); -%>
    <h1>Login</h1>
    <form method="POST" action="/auth/login">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email">
            <br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">
            <br>
            <button type="submit">Log in</button>
        </div><br>
        <a href="/auth/signup">Don't have an Account? signup</a>
    </form>
</body>
</html>